/*login screeen*/
.login-screen{
  background-image: url("../../assets/img/green.jpg");
  background-size: cover;
  height: 100vh;
}

/*overlay*/
  .black-overlay{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
  }
