/*first section*/
.first-section {
  .intro {
    color: white;
  }
  button {
    text-transform: uppercase;
  }
  background-image: url(http://bootcatch.com/img/overlay.svg);
  background-size: cover;
  .custom-dropdown {
    width: 370px;
    border-radius: 5px;
    font-size: 14px;
  }
  .custom-dropdown a:visited{
    color: white !important;
  }
}

.navbar-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}


/*second section*/
.second-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .col-md-4 {
    margin-bottom: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363663;
  text-transform: uppercase;
}

//shapes
.l-shapes {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-transition: width 2s !important;
  transition-delay: 4s !important;
}

.btn {
  margin-bottom: 1rem;
}

/*third section*/
.third-section {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72, #009ffd 74%);
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

/*fourth section*/
.fourth-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

//nav tabs
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: #172B4E;
  border-color: #dee2e6 #dee2e6 #fff;
}

//media query for small devices
@media only screen and (max-width: 768px) {
  .mobile_media {
    margin-top: 1px;
  }
  .custom-dropdown {
    width: 100% !important;
  }
}


/** text color classes */
.text-light-blue {
  color: #5d648e;
}
